#**
 *  Renders the main query form (customized)
 *#

<div class="query-box">
  <form id="query-form" action="#{url_for_home}" method="GET">

    <div class="inputs">
      <span #annTitle("Add the query using the &q= parameter")>
        Find:
        <input type="text" id="q" name="q" value="$!esc.html($params.get('q'))"/>
        <input type="submit" id="querySubmit" value="Search"/>
        <input type="reset" value="Reset"/>
      </span>

      ## 这里移除了 Boost By Price
      ## 你可以在这里加入自己的 UI 组件
      <div class="query-extra">
        <!-- Your custom filters or inputs -->
      </div>

      ## 保留 Solr 自带的 Spatial / Group By
      #parse("query_spatial.vm")
      #parse("query_group.vm")
    </div>

    ## Debug Mode
    #if($request.params.get('debugQuery'))
      <input type="hidden" name="debugQuery" value="true"/>
    #end

    ## Annotate
    #if($annotate == true)
      <input type="hidden" name="annotateBrowse" value="true"/>
    #end

    ## Existing FQ filters
    #foreach($fq in $request.params.getParams('fq'))
      #if ($fq != "{!bbox}")
        <input type="hidden" name="fq" id="allFQs" value="$esc.html($fq)"/>
      #end
    #end

    <div class="constraints" #annTitle("Lists out the &fq filters.  Click to remove.")>
      #foreach($fq in $params.getParams('fq'))
        #set($previous_fq_count=$velocityCount - 1)
        #if($fq != '')
          &gt;
          <a style="text-decoration: line-through;"
            href="#url_for_filters($request.params.getParams('fq').subList(0,$previous_fq_count))"
          >$fq</a>
        #end
      #end
    </div>

    ## Parsed Query Display
    <div class="parsed_query_header">
      #if($request.params.get('debugQuery'))
        <a href="#" onclick='jQuery(this).siblings("div").toggle(); return false;'>toggle parsed query</a>
        <div class="parsed_query" style="display:none">$response.response.debug.parsedquery</div>
      #end

      #set($queryOpts = $request.params.get("queryOpts"))
      #if($queryOpts && $queryOpts != "")
        <input type="hidden" name="queryOpts" value="$queryOpts"/>
      #end
    </div>

  </form>
</div>
